<div class="row">
    <footer class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <img src="../../../assets/img/arg-programa.png" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title"> Coronado Fababa Walter | Full Stack
                    Developer Jr.</h5>
                <p class="card-text"><b>#Yo Programo</b></p>
                <p>© 2023 Todos los derechos reservados.</p>


            </div>
        </div>
    </footer>
</div>