<h2>Iniciar Sesión</h2>
<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
        <div id="emailHelp" class="form-text">We'll never ever share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar">

    <h5>Registrate</h5>

</form>