<div class="container" *ngIf="softS">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="softSkill">Soft Skill</label>
                    <input type="text" class="form-control" id="softSkill" name="softSkill"
                        [(ngModel)]="softS.softSkill" required>
                </div>
                <div class="form-group">
                    <label for="softPorcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="softPorcentaje" name="softPorcentaje"
                        [(ngModel)]="softS.softPorcentaje" required>
                </div>

                <button class="btn btn-primary">
                    Actualizar Soft Skill
                </button>
            </form>
        </div>
    </div>
</div>