<form (ngSubmit)="onCreate()" novalidate #f="ngForm">
    <div class="form-group">
        <label for="softSkill">Soft Skill</label>
        <input type="text" class="form-control" id="softSkill" name="softSkill" [(ngModel)]="softSkill" required>
    </div>
    <div class="form-group">
        <label for="softPorcentaje">Progreso</label>
        <input type="text" class="form-control" id="softPorcentaje" name="softPorcentaje" [(ngModel)]="softPorcentaje"
            required>
    </div>
    <div class="form-group">
        <label for="softInnerColor">SoftInnerColor</label>
        <input type="text" class="form-control" id="softInnerColor" name="softInnerColor" [(ngModel)]="softInnerColor"
            required>
    </div>
    <div class="form-group">
        <label for="softOuterColor">Progreso</label>
        <input type="text" class="form-control" id="softOuterColor" name="softOuterColor" [(ngModel)]="softOuterColor"
            required>
    </div>

    <button class="btn btn-primary">Añadir Soft Skill</button>
</form>