<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-6">

            <h3>Experiencia</h3>

            <div class="card mb-3" *ngFor="let Experiencia of experiencia">
                <img [src]="Experiencia.imgExp" class="card-img-top" id="imgExp">

                <div class="card-body">
                    <h5 class="card-title">{{Experiencia.lugarExp}}</h5>
                    <p class="card-text">{{Experiencia.descripcionExp}}</p>
                    <p class="card-text">{{Experiencia.anioExp}}</p>

                    <button class="btn btn-dark"><i class="fa-solid fa-pencil" routerLink="/editExperiencia"
                            *ngIf="isLogged"></i></button>

                    <button class="btn btn-dark"><i class="fa-regular fa-trash-can"
                            (click)="delete(Experiencia.id)"></i></button>

                </div>

            </div>

            <a href="#" class="btn btn-secondary" routerLink="/newExperiencia" *ngIf="isLogged">Nueva
                Experiencia</a>

        </div>
    </div>
</div>

<app-footer></app-footer>

<!--
    <button class="btn btn-primary" (click)="delete(Experiencia.id)">Delete</button>
    <button class="btn btn-primary" routerLink="/editExp/{{Experiencia.id}}">Edit</button>
-->