<div class="row">
    <h3>Educación</h3>
    <div class="col-xs-1 col-lg-1"></div>
    <div class="col-xs-10 col-lg-5">
        <div class="card">
            <img src="../../../assets/img/faucett.png" class="card-img-top" id="faucett">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-5">
        <div class="card">
            <img src="../../../assets/img/jeanpiaget.png" class="card-img-top" id="google">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-lg-1"></div>

    <div class="col-xs-1 col-lg-1"></div>
    <div class="col-xs-10 col-lg-5">
        <div class="card">
            <img src="../../../assets/img/edaci.jpg" class="card-img-top" id="edaci">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-5">
        <div class="card">
            <img src="../../../assets/img/google.png" class="card-img-top" id="google">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-lg-1"></div>

    <div class="col-xs-1 col-lg-1"></div>
    <div class="col-xs-10 col-lg-5">
        <div class="card">
            <img src="../../../assets/img/cef.png" class="card-img-top" id="cef">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-5">
        <div class="card">
            <img src="../../../assets/img/arg-programa.png" class="card-img-top" id="arg-programa">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-lg-1"></div>
</div>