div {
    padding: 2%;
}

#imgEdu {
    width: 150px;
}


.card {
    align-items: center;

}

h3 {
    margin-left: 10%;
}

/*
.container {
    column-count: 2;
}

h3 {
    column-span: all;
    margin-left: 10%;
}

#google {
    width: 34%;
}

#faucett {
    width: 30%;
}

#cef {
    width: 20.5%;
}

#arg-programa {
    width: 55%;
}

#edaci {
    width: 19%;
}
*/