<app-navbar></app-navbar>
<div class="container">
    <div class="container">
        <div class="col-xs-12 col-lg-6">

            <h3>Educación</h3>

            <div class="card mb-3" *ngFor="let Educacion of educacionList">
                <img [src]="Educacion.img" class="card-img-top" id="imgEdu">

                <div class="card-body">
                    <h5 class="card-title">{{Educacion.lugarEdu}}</h5>
                    <p class="card-text">{{Educacion.descripcionEdu}}</p>
                    <p class="card-text">{{Educacion.anioEdu}}</p>


                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>