<form (ngSubmit)="onCreate()" novalidate #f="ngForm">
    <div class="form-group">
        <label for="lugarEdu">Lugar de estudio</label>
        <input type="text" class="form-control" id="lugarEdu" name="lugarEdu" [(ngModel)]="lugarEdu" required>
    </div>
    <div class="form-group">
        <label for="descripcionEdu">Descripcion del lugar de estudio</label>
        <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu"
            required>
    </div>
    <div class="form-group">
        <label for="anioEdu">Tiempo de estudio</label>
        <input type="text" class="form-control" id="anioEdu" name="anioEdu" [(ngModel)]="anioEdu" required>
    </div>
    <div class="form-group">
        <label for="imgEdu">Imagen del lugar de Estudio</label>
        <input type="text" class="form-control" id="imgEdu" name="imgEdu" [(ngModel)]="imgEdu" required>
    </div>

    <button class="btn btn-primary">Añadir Educación</button>
</form>