<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" [routerLink]="['/portfolio']">CoronadoPortfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" [routerLink]="['/experiencias']" href="#">Experience</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" [routerLink]="['/educacion']" href="#">Education</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" [routerLink]="['/skills']" href="#">Hard Skills</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" [routerLink]="['/softSkill']" href="#">Soft Skills</a>
                </li>
                <li class="nav-link disabled">Projects</li>
            </ul>
        </div>
        <app-redes></app-redes>

        <button type="button" class="btn btn-outline-secondary"><a class="nav-link active" [routerLink]="['/inicio']"
                href="#">Iniciar Sesión</a></button>

        <button (click)="onClick()" id="logout" type="button" class="btn btn-outline-secondary">Logout</button>

        <button id="reg" type="button" class="btn btn-outline-secondary"><a class="nav-link active"
                [routerLink]="['/register']" href="#">Register</a></button>
    </div>
</nav>