.row {
    padding: 5px;
}

div {
    text-align: center;
}

#titulo {
    font-size: small;
}

@media (min-width: 576px) {
    #fotoPerfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(76, 76, 76);
        left: 3%;
        top: 430px;
    }
}

@media (max-width: 575.9px) {
    #fotoPerfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(76, 76, 76);
        left: 35%;
        top: 150px;
    }
}

#nombre {
    font-weight: bold;
    margin-top: 10%;
}