<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <!--class="img-fluid" para que la imagen sea responsive-->
        <img src="../../../assets/img/IMG_20220802_110334029.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <p id="nombre">Walter Coronado Fababa</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <span>
            <h3>Acerca de</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque inventore voluptatibus autem possimus
                tenetur. Inventore delectus, veritatis accusantium labore aperiam libero cumque dolorum quod assumenda
                ab, voluptatem mollitia odio? Ipsam?</p>
        </span>
    </div>
</div>