<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <!--class="img-fluid" para que la imagen sea responsive-->
        <img [src]="miPortfolio.aboutImg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <p id="nombre">{{miPortfolio.nombre}}</p>
        <p id="titulo">{{miPortfolio.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <span>
            <h3>{{miPortfolio.acerca}}</h3>
            <p>{{miPortfolio.texto}}</p>
        </span>
    </div>
</div>