<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <!--class="img-fluid" para que la imagen sea responsive-->
        <img [src]="" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <p id="nombre">{{persona.nombre}}</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <span>
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ducimus aspernatur, eum officia quo et
                magnam dignissimos recusandae, laboriosam eveniet molestiae voluptatibus ea sit iure veniam rem eos?
                Debitis, enim.</p>
        </span>
    </div>
</div>