div class="container" *ngIf="educa">
<div class="row">
    <div>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">s
                <label for="skill">Skill</label>
                <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="skill.titulo" required>
            </div>
            <div class="form-group">
                <label for="porcentaje">Porcentaje</label>
                <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje"
                    required>
            </div>


            <button class="btn btn-primary">
                Actualizar Skill
            </button>
        </form>
    </div>
</div>